<div class="container post-container mt-2 p-0 border border-1">
  <!-- Begin top row -->
  {% include 'feed/post_components/toprow.html' %}
  <!-- End top row -->
  <!-- Begin content -->
  {% include 'feed/post_components/content.html' %}
  <!-- End content-->
  <!-- Begin action row -->
  {% include 'feed/post_components/actionrow.html' %}
  <!-- End action row -->
  <!-- Begin likes count -->
  {% include 'feed/post_components/likescounter.html' %}
  <!-- End likes count -->
  <!-- Begin description -->
  {% include 'feed/post_components/description.html' %}
  <!-- End description -->
  <!-- Begin comment loader -->
  {% include 'feed/post_components/commentloader.html' %}
  <!-- End comment loader -->
  <!-- Begin time posted -->
  {% include 'feed/post_components/timeposted.html' %}
  <!-- End time posted -->
</div>
