body {
  background-color: #fbfafa;
}

#brand-icon {
  color: black;
  font-family: "Cookie", cursive;
  font-size: xx-large;
}

.home-post-dp {
  border: 0.7px solid #555;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.home-post-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.home-post-time {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.home-post-img {
  width: 100%;
  height: auto;
}

.action-button {
  background-color: transparent;
  border: 0px;
}

.post-container {
  background-color: #ffffff;
  max-width: 600px;
}
