body {
  background-color: #fbfafa;
}

#brand-icon {
  color: black;
  font-family: "Cookie", cursive;
  font-size: xx-large;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.new-post-modal-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.navbar-dark .navbar-text {
  color: black;
}

.home-post-dp {
  border: 0.7px solid #555;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.home-post-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.home-post-time {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.home-post-img {
  width: 100%;
  height: auto;
}

.large-post-img {
  min-width: 540px;
}

.action-button {
  background-color: transparent;
  border: 0px;
  color: currentColor;
}

.action-button:hover {
  color: #8e8e8e;
}

.like-button:hover > svg {
  fill: #8e8e8e;
}

.view-post-top-container {
  background-color: #ffffff;
}

.view-post-side-container {
  width: 300px;
  background-color: #ffffff;
}

.view-post-muted-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.view-post-caption {
  border: none;
  outline: none;
  height: 38px;
  resize: none;
}

.view-post-comments-box {
  height: 330px;
  overflow-y: auto;
}

.comment-create-input {
  box-shadow: none !important;
  border: none;
  height: 38px;
  resize: none;
}

.post-caption-input {
  box-shadow: none !important;
  height: 434px;
  border: none;
  resize: none;
}

.image-upload-container {
  background-color: #ffffff;
  min-width: 538px;
  min-height: 538px;
  position: relative;
}

.image-upload-item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -95px;
}

.image-holder-parent-landscape {
  position: relative;
  display: flex;
  align-items: center;
}

.image-holder-parent-portrait {
  position: relative;
  display: flex;
  justify-content: center;
}

.uploaded-img-holder {
  overflow: hidden;
}

#post-button {
  color: #4193ef;
  display: none;
  font-size: 14px;
  font-weight: 600;
}

.hr-no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.post-container {
  background-color: #ffffff;
}

.modal-button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  border-radius: 0%;
  border-color: #ffffff;
}

@media (min-width: 992px) {
  /* The image size is 538, 2px is for border. */
  .post-container {
    min-width: 540px;
  }
}

/* This is a dirty hack. Need to fix. */
@media (min-width: 1038px) {
  .view-post-side-container {
    min-width: 450px;
  }
}
