<div
  class="modal fade"
  id="postModal"
  tabindex="-1"
  aria-labelledby="postModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="d-grid">
          {% for btn in modal.items %}
            <a
              class="modal-button shadow-none {{ btn.text_style }} btn btn{{ btn.outline }}{{ btn.color }}"
              href="{{ btn.link }}"
              type="button"
              {% if btn.has_child_modal %}
              data-bs-dismiss="modal"
              data-bs-toggle="modal"
              {% endif %}
            >{{ btn.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
