{% extends 'accounts/base.html' %} {% load widget_tweaks %} {% block content %}
<div class="row mt-4">
  <div class="col-auto mx-auto">
    <div class="container login-container p-0 border border-1">
      <div class="row mx-auto align-items-center">
        <div class="col-auto mt-4 mx-auto">
          <p id="brand-icon">Instaclone</p>
        </div>
      </div>
      <div class="row mx-auto align-items-center">
        <div class="col-auto mx-auto">
          <form method="POST" action="{% url 'instaclone-accounts_login' %}">
            {% csrf_token %}
            <div class="mb-3">
              {% render_field form.username placeholder="Username" class+="form-control login-field shadow-none" %}
            </div>
            <div class="mb-3">
              {% render_field form.password placeholder="Password" class+="form-control login-field shadow-none" %}
            </div>
            <div class="d-grid mx-auto mb-3">
              <button id="loginButton" type="submit" class="btn btn-primary">
                Log In
              </button>
            </div>
          </form>
          <div class="mb-3">
            <small>
              <a href="#">Forgot password?</a>
            </small>
          </div>
        </div>
      </div>
      {% if form.errors %}
      <div class="row">
        <div class="col-auto mx-auto">
          <p class="login-incorrect-cred">
            Sorry, your password was incorrect.
            <br />
            Please double-check your password.
          </p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="container login-container p-0 mt-2 border border-1">
      <div class="row mx-auto align-items-center">
        <div class="col-auto mt-4 mx-auto">
          <p id="signup-box-text">
            Don't have an account?
            <a href="{% url 'instaclone-accounts_register' %}"> Sign up </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
