<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="d-grid">
          <button class="btn btn-outline-dark" style="border-radius: 0%; border-color: blueviolet;" type="button">Edit</button>
          <button class="btn btn-outline-danger" style="border-radius: 0%; border-color: red;" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
