{% extends 'feed/base.html' %} {% load widget_tweaks %} {% block content %}
<div
  id="image-holder-parent"
  class="container image-upload-container border border-danger p-0"
>
  <form
    action="{% url 'instaclone-create_post_view' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %} 
    {% render_field form.content hidden="true" %}
    {%render_field form.caption hidden="true" %}
    <button id="id_submit_button" type="submit" hidden="true"></button>
    <div id="image-holder" class="image-upload-item">
      <button
        id="file_selector"
        class="btn btn-primary"
        onclick="openImagePicker()"
      >
        Select from computer
      </button>
    </div>
  </form>
</div>
{% endblock content %}
{% block sidebar %}
<div class="container view-post-side-container border border-1 p-0">
  <div class="row mx-auto align-items-center">
    <div class="col-auto p-2">
      <img
        class="home-post-dp"
        src="../../static/feed/sample-post-dp.jpg"
        alt="instaclone-post-dp"
      />
    </div>
    <div class="col-auto home-post-text fw-bold">{{ user.username }}</div>
  </div>
  <textarea
    id="proxy_input_caption"
    type="text"
    class="form-control post-caption-input"
    placeholder="Write a caption..."
    aria-label="Write a caption"
    aria-describedby="post-button"
  ></textarea>
</div>
<div class="d-grid mt-2 gap-2 col-12 mx-auto">
  <button
    id="proxy_submit_button"
    class="btn btn-success"
    type="button"
    onclick="submitPost()"
  >
    Post
  </button>
</div>
{% endblock sidebar %}
