<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p>Hi {{ firstname }},</p>
    <br />
    <p>
      You are receiving this email because you had signed up for Instaclone as {{ username }}.
    </p>
    <a href="http://127.0.0.1:8000/accounts/login/" target="_blank">Login now</a>
    to see the world around you!
    <br />
    <br />
    <p>Have a great day!</p>
    <b>Team Instaclone</b>
  </body>
</html>
